<a href="https://colab.research.google.com/github/UlisesToledoH/sqlite-pandas-utils/blob/main/DB_SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

BD con SQLite en Colab.

In [1]:
import sqlite3
import pandas as pd

In [3]:
#creacion de la conexion a la bse de datos en memoria
conexion = sqlite3.connect("DataBaseUli")
cursor = conexion.cursor();

In [12]:
#creo las tablas
#tabla clientes
cursor.execute("""
CREATE TABLE IF NOT EXISTS Clientes(
    id_cliente integer primary key,
    nombre TEXT,
    correo TEXT,
    telefono integer
    )
""")
#tabla compras
cursor.execute("""
CREATE TABLE IF NOT EXISTS Compras(
    id_compra integer primary key,
    id_cliente integer,
    fecha datetime,
    monto real,
    foreign key (id_cliente) references Clientes(id_cliente)
    )
""")

In [ ]:
#Llenado de tablas

#tabla cliente
cliente_data = [
    (1,"Ulises", "correo1@gmail.com",123456789 ), #id,nombre,correo,tel
    (2,"Ana", "correo2@gmail.com", 123455589 ),
    (3,"Canela", "correo3@gmail.com", 123556789)
]

#tabla compras
compras_data = [
    (1, 1, "2024-06-01", 500.0), #id compra, id cliente, fecha, monto
    (2, 2, "2024-06-02", 320.0),
    (3, 1, "2024-06-03", 150.0)
]

cursor.executemany("INSERT INTO Clientes VALUES (?,?,?,?)", cliente_data)
cursor.executemany("INSERT INTO Compras VALUES (?,?,?,?)", compras_data)

conexion.commit()

In [21]:
#actualizamos valor de id_cliente
id_update = 3
cursor.execute("Update Compras set id_cliente = ? where id_cliente = 1 and id_compra = 3",(id_update,))
conexion.commit()

In [22]:
#consulta

consulta = pd.read_sql_query("SELECT nombre,fecha,monto FROM Clientes join Compras on Compras.id_cliente = Clientes.id_cliente", conexion)
print(consulta)

   nombre       fecha  monto
0  Ulises  2024-06-01  500.0
1     Ana  2024-06-02  320.0
2  Canela  2024-06-03  150.0